1 Write a program to fetch all data from the file.

In [6]:
a=open('nthdata.txt','r')
b=a.read()
print(b)

TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas
INFOSYS,Kohli,Santosh,Venkat,Koti,Prabha,Soumya,Mishra
WIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna
CTS,Prabha,Subha,Debha,Rabha,Venkat,Dhoni,Surya,Saroj
NTH,Narayana,Akhil,Arha,Venkat,Sravya,Ananya,Revanth,Aha
ABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh

2 write a program to read the firs line from the file

In [8]:
a=open('nthdata.txt','r')
b=a.readline()
print(b)

TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas

3 write a program to read the last line from the file.

In [1]:
a=open('nthdata.txt','r')
b=a.readlines()
print(b[-1])

ABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh

4 write a program to read the 3rd line from  the file

In [20]:
a=open('nthdata.txt')
b=a.readlines()
print(b[2])

WIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna

5 write a program to count total number of character in the file

In [22]:
a=open('nthdata.txt')
b=a.read()
len(b)

325

6 write a program to count total number of commas in the file

In [26]:
a=open('nthdata.txt')
b=a.read()
b.count(',')

47

7 write a program to count total number of words in the first line in the  files

In [33]:
a=open('nthdata.txt')
b=a.read()
c=b.split(',')
len(c)

48

8 write a progarm to count total number of line in the file

In [41]:
a=open('nthdata.txt')
b=a.readlines()
len(b)

6

9. write a progrm to count total number of sai name in the file

In [48]:
a=open('nthdata.txt')
b=a.read()
b.count("Sai")

1

10 write a program to fetch the first word of each line in the file

In [3]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
   c=i.split(",")
   print(c[0])

TCS
INFOSYS
WIPRO
CTS
NTH
ABC

11 write a program to fetch the last word from the each line

In [11]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(",")
    print(c[-1])

Sas

Mishra

Arjuna

Saroj

Aha

Nikhilesh

12 write a program to fetch all words which starts with a character

In [25]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
 c=i.split(",")
 for j in c:
    if j.startswith("A"):
        print(j)

Amelia
Arjuna

Akhil
Arha
Ananya
Aha

ABC
Arha

13 write a program to fetch all words which ends with an vowel

In [20]:
a=open('nthdata.txt','r')
b=a.readlines()
for i in b:
 c=i.split(',')
 for j in c:
     if j[-1] in ('a','e','i','o','u'):
        print(j)

Sai
Satya
Dhoni
Kohli
Koti
Prabha
Soumya
Satya
Kohli
Chinna
Amelia
Prabha
Subha
Debha
Rabha
Dhoni
Surya
Narayana
Arha
Sravya
Ananya
Arha
Chinna
Satya
Dhoni

14 write a program to fetch all words whieh has either 'a'or 'i' character in the file

In [24]:
a=open('nthdata.txt','r')
b=a.readlines()
for i in b:
    c=i.split(',')
    for j in c:
        if 'a' in j or 'i' in j:
            print(j)

Sai
Rohit
Satya
Dhoni
Sarath
Saroj
Venkat
Sas

Kohli
Santosh
Venkat
Koti
Prabha
Soumya
Mishra

Satya
Kohli
Ram
Chinna
Amelia
Arjuna

Prabha
Subha
Debha
Rabha
Venkat
Dhoni
Surya
Saroj

Narayana
Akhil
Arha
Venkat
Sravya
Ananya
Revanth
Aha

Arha
Chinna
Satya
Dhoni
Venkat
Rohit
Yash
Nikhilesh

15 which contain only 5 character in the file

In [26]:
a=open("nthdata.txt")
b=a.read()
c=b.split(',')
for j in c:
        if len(j)==5:
            print(j)

Rohit
Satya
Dhoni
Saroj
Kohli
Satya
Kohli
Subha
Debha
Rabha
Dhoni
Surya
Akhil
Satya
Dhoni
Rohit

16 write a program to fetch all words which does not contains vowels expect i in the file

In [11]:
a=open('nthdata.txt')
b=a.read()
c=b.replace("\n",',')
e=c.split(',')
for i in e:
 if 'a' not in i and 'e' not in i and 'o' not in i and 'u' not in i:
  print(i)

TCS
INFOSYS
WIPRO
CTS
NTH
Akhil
ABC

17 which ends with uppercase character in the file

In [13]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(',')
    for j in c:
     if j.isupper():
        print(j)

TCS
INFOSYS
WIPRO
CTS
NTH
ABC

18 write a program to count total number of character in the excluding commas and \ns

In [14]:
a=open('nthdata.txt')
b=a.read()
c=b.replace(',','')
d=c.replace('\n','')
print(len(d))

273

19 write a program to count total number words in the entire file

In [21]:
a=open('nthdata.txt')
b=a.read()
c=b.replace('\n',',')
d=c.split(',')
print(len(d))

53

20 write a program to fetch all even number words from every line in the file

In [23]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.replace('\n',',')
    d=c.split(',')
    for j in d:
        if len(j)%2==0:
            print(j)

Sarath
Venkat

Venkat
Koti
Prabha
Soumya
Mishra

Chinna
Amelia
Suresh
Arjuna

Prabha
Venkat

Narayana
Arha
Venkat
Sravya
Ananya

Arha
Chinna
Venkat
Yash

21 write a program to fetch all words which ends with 'bha' in the files

In [3]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(',')
    for j in c:
        if j.endswith ('bha'):
         print(j)

Prabha
Prabha
Subha
Debha
Rabha

22 write a program to display all tcs employees

In [11]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(',')
    if 'TCS' in c:
      print(c[1:9])

['Sai', 'Rohit', 'Satya', 'Dhoni', 'Sarath', 'Saroj', 'Venkat', 'Sas\n']

23 write program to display th company name of chinna employee

In [13]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(',')
    if 'Chinna' in c:
        print(c[0])

WIPRO
ABC

24 write a program to fetch the 2nd from 3rd line in the file

In [14]:
a=open('nthdata.txt')
b=a.readlines()[2]
c=b.split(',')
print(c[1])

Satya

25 write a program to fetch the first character from each word in the 3rd line

In [15]:
a=open('nthdata.txt')
b=a.readlines()[2]
for i in b.split(','):
    print(i[0])

W
S
K
R
C
P
A
S
A

26 write a program to fetch first and last character of each word in the 3rd line

In [17]:
a=open('nthdata.txt')
b=a.readlines()[2]
for i in b.split(','):
    print(i[0],i[-1])

W O
S a
K i
R m
C a
P p
A a
S h
A

27 write a program to fetch all character (except 1st and last chars) of each word in the 2nd line

In [18]:
a=open('nthdata.txt')
b=a.readlines()[1]
for i in b.split(','):
    print(i[1:-2])

NFOS
oh
anto
enk
o
rab
oum
ishr

28 count total number of words which start with 's' character

In [24]:
a=open('nthdata.txt')
b=a.read()
for i in b.split(','):
    if i[0]=='S':
        print(i)

Sai
Satya
Sarath
Saroj
Sas
INFOSYS
Santosh
Soumya
Satya
Suresh
Subha
Surya
Saroj
NTH
Sravya
Satya

29 write a program to fetch all the duplicate names in the file

In [28]:
a=open('nthdata.txt')
b=a.read().replace("/n",",").split(",")
c={i for i in b if b.count(i)>1}
print(c)

{'Arha', 'Kohli', 'Venkat', 'Chinna', 'Dhoni', 'Rohit', 'Prabha', 'Satya'}

30 write a program to count all vowels in the file DICT

In [1]:
a=open('nthdata.txt')
b=a.read()
c=b.replace("/n",",")
c="aeiouAEIOU"
d={}
x=d.fromkeys(c,0)
for i in b:
    if i in x:
        x[i]=x[i]+1
print(x)

{'a': 47, 'e': 10, 'i': 16, 'o': 13, 'u': 5, 'A': 8, 'E': 0, 'I': 2, 'O': 2, 'U': 0}

In [34]:
vowel = ["a","i","i","o","u", "A" , "E" , "I" , "O", "U"]
d = {}
x = d.fromkeys(vowel,0)

In [35]:
x

{'a': None,
 'i': None,
 'o': None,
 'u': None,
 'A': None,
 'E': None,
 'I': None,
 'O': None,
 'U': None}

31 write a program to reverse all words in the file

In [2]:
a=open('nthdata.txt')
b=a.read()
c=b.replace('/n',',')
d=c.split(',')
[i [::-1] for i in d]

['SCT',
 'iaS',
 'tihoR',
 'aytaS',
 'inohD',
 'htaraS',
 'joraS',
 'takneV',
 'SYSOFNI\nsaS',
 'ilhoK',
 'hsotnaS',
 'takneV',
 'itoK',
 'ahbarP',
 'aymuoS',
 'ORPIW\narhsiM',
 'aytaS',
 'ilhoK',
 'maR',
 'annihC',
 'poP',
 'ailemA',
 'hseruS',
 'STC\nanujrA',
 'ahbarP',
 'ahbuS',
 'ahbeD',
 'ahbaR',
 'takneV',
 'inohD',
 'ayruS',
 'HTN\njoraS',
 'anayaraN',
 'lihkA',
 'ahrA',
 'takneV',
 'ayvarS',
 'aynanA',
 'htnaveR',
 'CBA\nahA',
 'ahrA',
 'annihC',
 'aytaS',
 'inohD',
 'takneV',
 'tihoR',
 'hsaY',
 'hselihkiN']

32 write a program to fetch all the word which contain two or more then 'a' character

In [3]:
a=open('nthdata.txt')
b=a.read()
c=b.replace('/n',',')
d=c.split(',')
[i for i in d if i.count('a')>=2]

['Satya',
 'Sarath',
 'Prabha',
 'Satya',
 'Prabha',
 'Rabha',
 'Narayana',
 'Sravya',
 'Ananya',
 'Satya']

33 write a program to fetch all words which starts and end with a

In [11]:
a=open('nthdata.txt')
b=a.read()
c=b.replace('/n',',')
d=c.split(',')
for i in d:
    if i.startswith('A') and i.endswith('a'):
     print(i)

Amelia
Arha
Ananya
Arha

a=open('nthdata.txt')
b=a.readlines()[2]
for i in b.split(','):
    print(i[0],i[-1])
    ()

34 fetch all words which has more number of 'a' character

In [13]:
a=open('nthdata.txt')
b=a.read()
c=b.replace("/n",",")
d=c.split(",")
[i for i in d if i.count('a')>2]

['Narayana']

35 fetch all company names which starts with vowels

In [19]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    if i[0] in (('A','E','I','O','U')):
        c=i.split(',')
        print(c[0])

INFOSYS
ABC

36 display company name which contains saroj employee

In [23]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(',')
    if 'Saroj' in c:
        print(c[0])

TCS

a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(',')
    if 'Chinna' in c:
        print(c[0])

37 write a program to count all words which starts and ends with consonants

In [9]:
a=open('nthdata.txt')
b=a.read()
c=b.replace('/n','')
d=c.split(',')
for i in d:
     if i[0] not in "aeiouAEIOU" and i[-1] not in "aeioAEIOU":
        print(i)

TCS
Rohit
Sarath
Saroj
Venkat
Sas
INFOSYS
Santosh
Venkat
Ram
Pop
Suresh
Venkat
Saroj
NTH
Venkat
Revanth
Venkat
Rohit
Yash
Nikhilesh

38 write a program to fetch all company names which does not contain Venket employee

In [22]:
a=open('nthdata.txt')
b=a.readlines()

for i in b:
        c=i.split(",")
        if 'Venkat' not in c:
         print(c[0])

WIPRO

a=open('nthdata.txt')
b=a.read()
c=b.replace("\n",',')
e=c.split(',')
for i in e:
 if 'a' not in i and 'e' not in i and 'o' not in i and 'u' not in i:
  print(i)

39 display company name where narayan is working

In [23]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(",")
    if 'Narayana' in c:
        print(c[0])

NTH

40 write a program to display the first word and last word from each line in dic format

In [1]:
a=open('nthdata.txt')
b=a.readlines()
d={}
x=d.fromkeys(b,0)
for i in b:
    c=i.split(',')
    
    print({c[0]:c[1]})

{'TCS': 'Sai'}
{'INFOSYS': 'Kohli'}
{'WIPRO': 'Satya'}
{'CTS': 'Prabha'}
{'NTH': 'Narayana'}
{'ABC': 'Arha'}

a=open('nthdata.txt')
b=a.read()
c=b.replace("/n",",")
c="aeiouAEIOU"
d={}
x=d.fromkeys(c,0)
for i in b:
    if i in x:
        x[i]=x[i]+1
print(x)

41 write a program in which all names starts with 'a' in nth company

In [ ]:
a=open('nthdata.txt')
b=a.readlines()
for i in b:
    c=i.split(',')
    if c